@model ServiceLayer.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "AddEmployee";
}
<style>
    label{
        font-weight:700;
    }
</style>
<h1>Add New Employee</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddEmployee">
           <div class="card">
               <div class="card-body">
                    <h4>Person Details</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div><br />

                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div><br />

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div><br />
            
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div><br />

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div><br />
                </div>
            </div>

           <div class="card">
               <div class="card-body">
                    <h4>Job Details</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="PositionName" class="control-label"></label>
                        <select asp-for="PositionName" class="form-control" asp-items="ViewBag.PositionName"></select><br />
                        <p>Didn't find the position? <span><a asp-action="AddPosition" class="btn btn-outline-primary">Add New Position</a></span> </p>
                    </div><br />

                    <div class="form-group">
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div><br />

                    <div class="form-group">
                        <label asp-for="EmployeeCode" class="control-label"></label>
                        <input asp-for="EmployeeCode" class="form-control" />
                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                    </div><br />
               </div>
           </div>

            <div class="form-group">
                <input type="submit" value="Add Employee" class="btn btn-success" />
            </div><br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
